
<!-- part-time letter -->

<section id="letter-container">
  <div id="letter">
    <ul id="letter-list">
      <li><p class="top-right letter_co_name">Company Name</p></li>
      <li><p class="top-right letter_co_address_1">Company Address</p></li>
      <li><p class="top-right letter_co_address_2">Company Address cont.</p></li>
      <li><p class="top-right letter_co_city_state_zip">City, State Zip</p></li>
    </ul>

    <ul>
      <li><p class="applicant-info letter_ap_name">Applicant Name</p></li>
      <li><p class="applicant-info letter_ap_address_1">Applicant Address</p></li>
      <li><p class="applicant-info letter_ap_address_2">Applicant Address cont.</p></li>
      <li><p class="applicant-info letter_ap_city_state_zip">City, State Zip</p></li>
    </ul>

    <ul>
      <li>Dear <span class="letter_ap_name">Applicant Name</span>,</li>
      <br/>
      <li><span class="company-info letter_co_name">Company Name</span> is pleased to offer you employment on the following terms:</li>
      <br/>
    </ul>

    <ul>
      <li>1. <strong>Position.</strong>  Your title will be <span class="applicant-info letter_pos_title">Position Title</span>, and you will report to <span class="applicant-info letter_supervisor">Supervisor's Name</span>.  Your start date is <span class="applicant-info letter_start_date">Start Date</span>.  This is a part-time position. While you render services to <span class="company-info letter_co_name">Company Name</span>, you are free to engage in other employment, consulting, or other business activity as long as it does not create a conflict of interest with <span class="company-info letter_co_name">Company Name</span>.  By signing this letter agreement, you confirm to <span class="company-info letter_co_name">Company Name</span> that you have no contractual commitments or other legal obligations that would prohibit you from performing your duties for <span class="company-info letter_co_name">Company Name</span>.</li>

      <br/>
      <li>2. <strong>Cash Compensation.</strong>  The Company will pay hourly at a rate of $Hourly Wage, payable in accordance with the Company’s standard payroll schedule.  This wage will be subject to adjustment pursuant to the Company’s employee compensation policies in effect from time to time.</li>

      <br/>
      <li>3. <strong>Employee Benefits.</strong>  As a part-time employee of the Company, you will not be eligible for Company-sponsored benefits or paid vacation.</li>

      <br/>
      <li>4. <strong>Proprietary Information and Inventions Agreement.</strong>  Like all Company employees, you will be required, as a condition of your employment with the Company, to sign the Company’s standard Proprietary Information and Inventions Agreement.</li>

      <br/>
      <li>5. <strong>Employment Relationship.</strong>  Employment with the Company is for no specific period of time.  Your employment with the Company will be “at will,” meaning that either you or the Company may terminate your employment at any time and for any reason, with or without cause.  Any contrary representations that may have been made to you are superseded by this letter agreement.  This is the full and complete agreement between you and the Company on this term.  Although your job duties, title, compensation and benefits, as well as the Company’s personnel policies and procedures, may change from time to time, the “at will” nature of your employment may only be changed in an express written agreement signed by you and a duly authorized officer of the Company (other than you).</li>

      <br/>
      <li>6. <strong>Tax Matters.</strong></li>
      <li>(a) Withholding.  All forms of compensation referred to in this letter agreement are subject to reduction to reflect applicable withholding and payroll taxes and other deductions required by law.</li>
      <li>(b) Tax Advice.  You are encouraged to obtain your own tax advice regarding your compensation from the Company.  You agree that the Company does not have a duty to design its compensation policies in a manner that minimizes your tax liabilities, and you will not make any claim against the Company or its Board of Directors related to tax liabilities arising from your compensation.</li>

      <br/>
      <li>7. <strong>Interpretation, Amendment and Enforcement.</strong>  This letter agreement constitutes the complete agreement between you and the Company, contains all of the terms of your employment with the Company and supersede any prior agreements, representations or understandings (whether written, oral or implied) between you and the Company.  This letter agreement may not be amended or modified, except by an express written agreement signed by both you and a duly authorized officer of the Company.  The terms of this letter agreement and the resolution of any disputes as to the meaning, effect, performance or validity of this letter agreement or arising out of, related to, or in any way connected with, this letter agreement, your employment with the Company or any other relationship between you and the Company (the “Disputes”) will be governed by State law, excluding laws relating to conflicts or choice of law.  You and the Company submit to the exclusive personal jurisdiction of the federal and state courts in connection with any Dispute or any claim related to any Dispute.</li>

      <br/>
      <li>You may indicate your agreement with these terms and accept this offer by signing and dating this agreement by Expiration Date.  As required by law, your employment with the Company is contingent upon your providing legal proof of your identity and authorization to work in the United States.  This offer is also contingent upon successful completion of a Background check, References check, Drug Test conducted in accordance with applicable federal, state, and local laws.  Upon your acceptance of this employment offer, Company Representative will provide you with the necessary paperwork and instructions.</li>

      <br/>
      <li>We look forward to hearing from you.</li>
      <br/>
      <li>Sincerely,</li>
      <br/>
      COMPANY REP
      <br/>

</li>


    </ul>




  </div>
</section>