
<!-- part-time letter -->

<section id="letter-container">
  <div id="letter">
    <ul id="letter-list">
      <li><p class="placeholder top-right letter_co_name">Company Name</p></li>
      <li><p class="placeholder top-right letter_co_address_1">Company Address</p></li>
      <li><p class="placeholder top-right letter_co_address_2">Company Address cont.</p></li>
      <li><p class="placeholder top-right letter_co_city_state_zip">City, State Zip</p></li>

    </ul>

    <ul>
      <li><p class="placeholder applicant-info letter_ap_name">Applicant Name</p></li>
      <li><p class="placeholder applicant-info letter_ap_address_1">Applicant Address</p></li>
      <li><p class="placeholder applicant-info letter_ap_address_2">Applicant Address cont.</p></li>
      <li><p class="placeholder applicant-info letter_ap_city_state_zip">City, State Zip</p></li>
    </ul>

    <ul>
      <li>Dear <span class="letter_ap_name">Applicant Name</span>,</li>
      </br>
      <li>
        It is with great excitement that I extend this offer of employment with <span class="placeholder letter_co_name">The Company</span> for the position of <span class="placeholder letter_pos_title">Position Title</span>. Provided is a summary of terms and conditions of your anticipated employment with us. If you accept this offer, your start date will be <span class="placeholder letter_start_date">Start Date</span> or another mutually agreed upon date and you would report to <span class="placeholder letter_supervisor">Supervisor's Name</span>. We look forward to adding you to our team.
      </li>

      <li>
        </br>
        </br>
        <strong>Hours and Compensation</strong>
        </br>
        This is a full-time, exempt position requiring approximately <span class="placeholder letter_hrs">Hours</span> hours per week.
        </br>
        </br>
        Your compensation package includes base pay and the following:
        </br>
        <p>- Standard benefits package.</p>
        <p class="dont_include medical">- Eligibility to enroll in medical insurance through the company's provider.</p>
        <p class="dont_include dental">- Eligibility to enroll in dental insurance through the company's provider.</p>
        <p class="dont_include equity">- Equity in the company. Details provided on a separate document.</p>
        <p class="dont_include bonus">- Eligibility for a performance-based bonus to be outlined in a separate document.</p>
        <p class="dont_include commission">- A commission structure which will be outlined in a separate document.</p>

        </br>
      </li>

      <li>
        Your base pay is $<span class="placeholder letter_ap_wage">Amount per Pay Period</span>. Standard tax deductions will be made pursuant to state and federal law.
        </br>
        </br>
        </br>
      </li>

      <li>
        <strong>Termination</strong>
        You are entering into an agreement of at-will employment. <span class="placeholder letter_co_name">The Company</span> may terminate employment at any time without notice or cause, but will make every effort to provide timely notice.
        </br>
        </br>
        </br>
      </li>

      <li>
        <strong>Tax Matters</strong>
        </br>
        (a) <strong>Withholding.</strong> All forms of compensation referred to in this letter agreement are subject to reduction to reflect applicable withholding and payroll taxes and other deductions required by law.
        </br>
        </br>
        (b) <strong>Tax Advice.</strong> You are encouraged to obtain your own tax advice regarding your compensation from <span class="placeholder letter_co_name">The Company</span>.  You agree that <span class="placeholder letter_co_name">The Company</span> does not have a duty to design its compensation policies in a manner that minimizes your tax liabilities, and you will not make any claim against <span class="placeholder letter_co_name">The Company</span> or its Board of Directors related to tax liabilities arising from your compensation.
        </br>
        </br>
        </br>
      </li>

      <li>
        <strong>Conditions for Employment</strong>
        </br>
        This offer is contingent upon the following:
        </br>
        <p>- Proof of eligibility to work in the United States (which must be provided per the terms of the Immigration and Reform Act).</p>
        <p class="dont_include drug_test">- Completion of a drug test.</p>
        <p class="dont_include bg_check">- Completion of a background check.</p>
        <p>- You will be required to submit the proper paperwork to confirm your eligibility and tax status. This includes I-9 and W-4 forms, which will be provided.</p>
        </br>
        </br>
        You may indicate your agreement with these terms and accept this offer by signing and dating this agreement by <span class="placeholder letter_expiry_date">Expiration Date</span>. Upon your acceptance of this employment offer, <span class="placeholder letter_co_name">The Company</span> will provide you with the necessary paperwork and instructions.
        </br>
        </br>
        </br>
      </li>
      <li>
        We look forward to hearing from you.
        </br>
        </br>
        </br>
        Sincerely,
        </br>
        </br>
        <span class="placeholder letter_co_rep">Company Representative</span>
        </br>
        </br>
        Signatures:
        </br>
        </br>
        </br>
        ___________________________________________________
        </br>
        Company Representative (Sign)
        </br>
        </br>
        ___________________________________________________
        </br>
        Company Representative (Print)
        </br>
        </br>
        ___________________________________________________
        </br>
        Date
        </br>
        </br>
        </br>
        ___________________________________________________
        </br>
        Applicant (Sign)
        </br>
        </br>
        ___________________________________________________
        </br>
        Applicant (Print)
        </br>
        </br>
        ___________________________________________________
        </br>
        Date
        </br>
      </li>





    </ul>
  </div>
</section>