
<!-- part-time letter -->

<section id="letter-container">
  <div id="letter">
    <ul id="letter-list">
      <li><p class="placeholder top-right letter_co_name">Company Name</p></li>
      <li><p class="placeholder top-right letter_co_address_1">Company Address</p></li>
      <li><p class="placeholder top-right letter_co_address_2">Company Address cont.</p></li>
      <li><p class="placeholder top-right letter_co_city_state_zip">City, State Zip</p></li>
    </ul>

    <ul>
      <li><p class="placeholder applicant-info letter_ap_name">Applicant Name</p></li>
      <li><p class="placeholder applicant-info letter_ap_address_1">Applicant Address</p></li>
      <li><p class="placeholder applicant-info letter_ap_address_2">Applicant Address cont.</p></li>
      <li><p class="placeholder applicant-info letter_ap_city_state_zip">City, State Zip</p></li>
    </ul>

    <ul>
      <li>Dear <span class="letter_ap_name">Applicant Name</span>,</li>
      </br>
      <li>
        It is with great excitement that I extend this offer of employment with <span class="placeholder company-info letter_co_name">The Company</span> for the position of <span class="placeholder applicant-info letter_pos_title">Position Title</span>. Provided is a summary of terms and conditions of your anticipated employment with us. If you accept this offer, your start date will be <span class="placeholder applicant-info letter_start_date">Start Date</span> or another mutually agreed upon date and you would report to <span class="placeholder applicant-info letter_supervisor">Supervisor's Name</span>. We look forward to adding you to our team.
      </li>

      <li>
        </br>
        </br>
        <strong>Hours and Compensation</strong>
        </br>
        This is a full-time, exempt position requiring approximately [40 hours] per week.
        </br>
        </br>
        Your compensation package includes base pay and the following:
        </br>
          benefits package
        </br>
          [OPTION - eligibility for a performance-based bonus]
        </br>
          [OPTION - A commission structure which will be outlined in a subsequent section of this agreement.]
        </br>
          [OPTION – Equity in the company]
        </br>
          [OPTION – An employee stock purchasing program]
        </br>
          [OPTION – You are eligible for Medical and Dental insurance through Company policy]
        </br>

        </br>
        </br>
        You base salary will be [BASE SALARY] delivered [pay_period]. <span class="placeholder company-info letter_co_name">The Company</span> pays employees [When do you pay them] of each month. Standard tax deductions will be made pursuant to state and federal law.
        </br>
        </br>
        Bonus Language: You will also be eligible for a discretionary bonus of up to [percent] of your base salary depending on performance. This bonus will be paid [payment schedule]
        </br>
        </br>
      </li>

      <li>
        <strong>Benefits</strong>
        </br>
        You will be eligible for [health], [vision] and [dental] benefits immediately upon your start date. Currently [X%] of the monthly premium is paid by <span class="placeholder company-info letter_co_name">The Company</span> and the remainder will be paid by the employee using pre-tax dollars. These benefits are subject to change at the discretion of <span class="placeholder company-info letter_co_name">The Company</span> leadership.
        </br>
        </br>
      </li>

      <li>
        <strong>Termination</strong>
        You are entering into an agreement of at-will employment. <span class="placeholder company-info letter_co_name">The Company</span> may terminate employment at any time without notice or cause, but will make every effort to provide timely notice. The employee may terminate this agreement at any time with a written notice and a minimum of X business days to transfer job duties
        </br>
        </br>
      </li>

      <li>
        <strong>Tax Matters</strong>
        </br>
        (a) <strong>Withholding.</strong> All forms of compensation referred to in this letter agreement are subject to reduction to reflect applicable withholding and payroll taxes and other deductions required by law.
        </br>
        </br>
        (b) <strong>Tax Advice.</strong> You are encouraged to obtain your own tax advice regarding your compensation from <span class="placeholder company-info letter_co_name">The Company</span>.  You agree that <span class="placeholder company-info letter_co_name">The Company</span> does not have a duty to design its compensation policies in a manner that minimizes your tax liabilities, and you will not make any claim against <span class="placeholder company-info letter_co_name">The Company</span> or its Board of Directors related to tax liabilities arising from your compensation.
        </br>
        </br>
      </li>

      <li>
        <strong>Conditions for Employment</strong>
        </br>
        This offer is contingent upon proof of eligibility to work in the United States (which must be provided per the terms of the Immigration and Reform Act) and completion of {OPTIONS}
        [Background Check, which includes criminal, employment and education]
        [Drug Test]
        You will be required to submit the proper paperwork to confirm your eligibility and tax status. This includes i-9 and W-4 forms, which will be provided.
        </br>
        </br>
      </li>
      <li>
        We look forward to hearing from you.
        </br>
        </br>
        </br>
        Sincerely,
        </br>
        </br>
        <span class="placeholder applicant-info letter_co_rep">Company Representative</span>
      </li>

      </br>
      </br>




    </ul>
  </div>
</section>