  <!-- letter -->
  <section id="letter-container">
    <div id="letter">
      <ul id="letter-list">
        <li><p class="top-right" id='letter_co_name'>Company Name</p></li>
        <li><p class="top-right" id='company_address_line_1'>Company Address</p></li>
        <li><p class="top-right" id='company-address-line-2'>Company Address cont.</p></li>
        <li><p class="top-right" id='company-city-state-zip'>City, State Zip</p></li>
      </ul>

      <ul>
        <li><p class="applicant-info" id="applicant-name">Applicant Name</p></li>
        <li><p class="applicant-info" id='applicant-address-line-1'>Applicant Address</p></li>
        <li><p class="applicant-info" id='applicant-address-line-2'>Applicant Address cont.</p></li>
        <li><p class="applicant-info" id='applicant-city-state-zip'>City, State Zip</p></li>
      </ul>

      <ul>
        <li>Dear <span id="applicant-name">Applicant Name</span>,</li>
        <li><p></p></li>
        <li><span class="company-info" id='company-name'>Company Name</span> is pleased to offer you employment on the following terms:</li>
        <li><p></p></li>
      </ul>

      <ul>
        <li><p class="applicant-info" id='position-title'>Position Title</p></li>
        <li><p class="applicant-info" id='supervisor-name'>Supervisor's Name</p></li>
        <li><p class="applicant-info" id='company-name'>Company Name</p></li>
        <li><p class="applicant-info" id='company-name'>Company Name</p></li>
      </ul>
    </div>
  </section>