  <!-- letter -->
  <section id="letter-container">
    <div id="letter">
      <ul>
        <li><p id='company-name'>Company Name:</p></li>
        <li><p id='company-address'>Company Address:</p></li>
        <li><p id='company-phone'>Company Phone:</p></li>
        <li><p id='print-content'>content</p></li>
      </ul>
    </div>
  </section>