
  <form id="multi-step-form">


    <!-- SIGN UP FORM FIELD
    <fieldset>
      <h2 class="fs-title">Sign Up</h2>
      <h3 class="fs-subtitle">Sign Up</h3>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="pass" placeholder="Password" />
      <input type="password" name="cpass" placeholder="Confirm Password" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    -->

    <fieldset>

      <span>
        <%= link_to "Export as .rtf", {:controller => :letters, :action => :download}, {:method => :post} %>
      </span>

      <h2 class="frame-title">Company Info</h2>
      <h3 class="frame-subtitle">Step 1 of 5</h3>
      <input type="text" name="company" placeholder="Company Name" id='company-name'/>
      <input type="text" name="company street address" placeholder="Street Address" id='company-address-line-1' />
      <input type="text" name="company street address line 2" placeholder="Street Address cont." id='company-address-line-2' />
      <!--  <input type="" name="company state" id='company-state'/>  -->
      <input type="text" name="company-city-state-zip" placeholder="City, State Zip" id='company-city-state-zip'/>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Applicant Info</h2>
      <h3 class="frame-subtitle">Step 2 of 5</h3>
      <input type="text" name="applicant name" placeholder="Applicant Name" id="applicant-name"/>
      <input type="text" name="applicant-address-line-1" placeholder="Applicant Street Address" id='applicant-address-line-1'/>
      <input type="text" name="applicant-address-line-1" placeholder="Applicant Street Address cont." id='applicant-address-line-2'/>
      <input type="text" name="applicant-city-state-zip" placeholder="Applicant City, State Zip" id='applicant-city-state-zip'/>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Position Info</h2>
      <h3 class="frame-subtitle">Step 3 of 5</h3>
      <input type="text" name="position" placeholder="Position Title" id="position-title"/>
      <input type="text" name="supervisor" placeholder="Supervisor Name" />
      <input type="text" name="start-date" placeholder="Start Date" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Benifits</h2>
      <h3 class="frame-subtitle">Step 4 of 5</h3>
      <input type="text" name="medical" placeholder="Medical" />
      <input type="text" name="dental" placeholder="Dental" />
      <input type="text" name="options" placeholder="Options" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Other Information</h2>
      <h3 class="frame-subtitle">Step 5 of 5</h3>
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="pass" placeholder="Password" />
      <input type="password" name="cpass" placeholder="Confirm Password" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />




    </fieldset>
  </form>