<div class="header-image"></div>

<section id="progressbar-container">
  <ul id="progressbar">
    <li class="showing">Company Info</li>
    <li>Applicant Info</li>
    <li>Position Info</li>
    <li>Benefits</li>
    <li>Other Info</li>
  </ul>
</section>

<div id="letter-tool">
  <form id="multi-step-form">

    <!-- SIGN UP FORM FIELD
    <fieldset>
      <h2 class="fs-title">Sign Up</h2>
      <h3 class="fs-subtitle">Sign Up</h3>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="pass" placeholder="Password" />
      <input type="password" name="cpass" placeholder="Confirm Password" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    -->

    <fieldset>
      <h2 class="frame-title">Company Info</h2>
      <h3 class="frame-subtitle">Step 1 of 5</h3>
      <input type="text" name="company" placeholder="Company Name" id='company-name'/>
      <input type="text" name="company street address" placeholder="Company Street Address" id='company-address' />
      <!--  <input type="" name="company state" id='company-state'/>  -->
      <input type="text" name="company phone" placeholder="Company Phone" id='company-phone'/>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Applicant Info</h2>
      <h3 class="frame-subtitle">Step 2 of 5</h3>
      <input type="text" name="applicant name" placeholder="Applicant Name" />
      <input type="text" name="applicant" placeholder="Applicant Street Address" />
      <input type="text" name="applicant zipcode" placeholder="Start Date" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Position Info</h2>
      <h3 class="frame-subtitle">Step 3 of 5</h3>
      <input type="text" name="position" placeholder="Position Title" />
      <input type="text" name="position" placeholder="Position Compensation" />
      <input type="text" name="position" placeholder="Position Responsibilities" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Benifits</h2>
      <h3 class="frame-subtitle">Step 4 of 5</h3>
      <input type="text" name="medical" placeholder="Medical" />
      <input type="text" name="dental" placeholder="Dental" />
      <input type="text" name="options" placeholder="Options" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="frame-title">Other Information</h2>
      <h3 class="frame-subtitle">Step 5 of 5</h3>
      <input type="text" name="email" placeholder="Email" />
      <input type="password" name="pass" placeholder="Password" />
      <input type="password" name="cpass" placeholder="Confirm Password" />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </form>

  <%= render partial: 'letter' %>


</div>