<div class="header-image"></div>

<section id="progressbar-container">
  <ul id="progressbar">
    <li class="showing">Company Info</li>
    <li>Applicant Info</li>
    <li>Position Info</li>
    <li>Benefits</li>
    <li>Other Info</li>
  </ul>
</section>

<div id="letter-tool">


  <%= render partial: 'letter' %>

  <%= render partial: 'new' %>

</div>