
<section class="notes">
  <p>With our free offer letter generator tool, you can quickly create professional offer letters and download them in a universal ".rtf" format that will work in almost any text editor.</p>

  <p>To make your offer letter please fill in all relevant fields. Any fields that are not completed will result in blank spaces in the final letter that is generated, so please be sure to review the final letter after downloading.</p>

  <p>This letter generator is intended as a starting place for writing offer letters; any missing or extraneous information can be revised in a text editor after downloading.</p>
</section>


  <%= render partial: 'form' %>

  <%= render partial: 'letter' %>


<section class="footer">
  <p>Disclaimer – Please Note:
  Workable has made a thorough effort to offer accurate, usable offer letter templates. But we are not attorneys, and the content on this site, while authoritative, is not guaranteed for legality, and is not designed to provide legal advice.
  Please be advised that employment laws and regulations vary by state and country, so Workable’s templates may not be ready to use for your workplace. It is always best to seek legal counsel or assistance from available government resources to confirm your legal agreements are correctly drafted. The information on this site is to provide small business owners with a starting point, as well as guidance and assistance.</p>
</section>