<fieldset>

  <div class="field">Offer Expires On:
    <%= f.date_field :expiry_date %>
  </div>
  <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>
