<fieldset>

  <div class="field">Company
    <%= f.text_field :co_name, :id => "company-name" %>
  </div>
  <div class="field">Address Line 1:
    <%= f.text_field :co_address_1 %>
  </div>
  <div class="field">Address Line 2:
    <%= f.text_field :co_address_2 %>
  </div>
  <div class="field">City, State Zip:
    <%= f.text_field :co_city_state_zip %>
  </div>
  <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />

</fieldset>