<fieldset>
  <div class="field">Position:
    <%= f.text_field :pos_title %>
  </div>
  <div class="field">Supervisor:
    <%= f.text_field :supervisor %>
  </div>
<input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
</fieldset>