/*
    HTML5 ✰ Boilerplate

    style.css contains a reset, font normalization and some base styles.

    credit is left where credit is due.
    much inspiration was taken from these projects:
        yui.yahooapis.com/2.8.1/build/base/base.css
        camendesign.com/design/
        praegnanz.de/weblog/htmlcssjs-kickstart
*/

/*
    html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
    v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
    html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font: inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
        display:block;
}

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */

/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */

body, select, input, textarea {
    /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
    color: #444;
    /* set your base font here, to apply evenly */
    /* font-family: Georgia, serif;  */
}

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE: */
html { overflow-y: scroll; }

/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 0; }
ol { list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
    /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
    white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;
    padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
            border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be separate.
     No text-shadow: twitter.com/miketaylr/status/12228805301
     Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
     www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* bicubic resizing for non-native sized IMG:
     code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



*,
*:before,
*:after,  {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
========================================
Clearfix use class="clear"
========================================
*/
.clear:before,
.clear:after  {
  content: "";
  display: table;
}
.clear:after  {
  clear: both;
}
.clear  {
  clear: both;
  *zoom: 1;
}



















































/*
*************************************************************************************************
Custom Styles:
*************************************************************************************************


body {
  background-color: #eff1f2;
}
*/

p {
  height: 100%;
  line-height: 1;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/
#multi-step-form {
}
.multi-step {

  width: 35vw;
  float: left;
  text-align: center;
  position: relative; /* was relative */
}
#multi-step-form fieldset {
  background: white;
  border: 3px solid #33b6cb;
  border-radius: 5px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#multi-step-form fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#multi-step-form input, #multi-step-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#multi-step-form .action-button {
  width: 100px;
  background: #33b6cb;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#multi-step-form .action-button:hover, #multi-step-form .action-button:focus {
  background-color: #0F7F91;
  box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(51,182,203, 0.8);
}
/*headings*/
.frame-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.frame-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*
*************************************************************************************************
progressbar container
*************************************************************************************************
*/
#progressbar-container  {
  margin: 30px auto;
  max-width: 600px;
}

/*progressbar ul*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {

  list-style-type: none;
  color: #33b6cb;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  text-align: center;

  cursor: pointer;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #33b6cb;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  border-top: 1px solid #33b6cb;

  border-bottom: 1px solid #33b6cb;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
  border: 1px solid #33b6cb;
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.showing:before,  #progressbar li.showing:after{
  background-color: #0F7F91;
  color: white;
}
/*
*************************************************************************************************
letter TOOL
*************************************************************************************************
*/

#app-container  {
  margin: auto;
  position: relative;
}
/*
*************************************************************************************************
letter
*************************************************************************************************
*/


#letter-container {
  float: right;
  border: 1px solid black;
  margin: 0 auto 5% auto;
  margin-right: 3.5vw;
  background-color: #fff;

}

#letter {
  height: 77.647059vw;
  width: 60vw;
  overflow: scroll;
}


#co-top-right {
  float: right;
}

#letter li {
  list-style-type: none;
  font-size: 1.2vw;
}
.top-right
  {
  width: 15vw;
  height: 100%;
  word-wrap: break-word;
  text-align: right;
}

.applicant-info {
  clear: right;
  width: 15vw;
  word-wrap: break-word;
  text-align: left;
}

#letter li:first-of-type {
  margin-top: 5vw;
}


.fixed {
  position: fixed;
  top: 150px;
}

ul {
  margin: 0 7.0588vw;
}


@media screen and (max-width: 1150px) {


  #multi-step-form {
    width: 90vw;
    float: none;
    margin: 0 auto;
    text-align: center;
    position: relative; /* was relative */
  }
  #multi-step-form .action-button {
    width: 80px;
  }


  #letter-container {
    margin: 0 6.5vw;
    margin-top: 550px;
    margin-bottom: 100px;


  }
  #letter {
    height: 110vw;
    width: 85vw;
    margin: none;

  }
  #letter li {
    font-size: 1.7vw;
  }
  #letter li:first-of-type {
    margin-top: 7.08333333vw;
  }

  .top-right {
    width: 21.5vw;
    word-wrap: break-word;
    text-align: right;
  }
  .fixed {
    position: relative;
    top: 0;
  }

  ul  {
    margin: 0 10vw;
  }
}


/*
*************************************************************************************************
Index
*************************************************************************************************
*/

td {
  width: 15vw;
  text-align: center;

}
tr {
  border-bottom: 1px solid black;
}
thead tr {
  border-bottom: 3px solid black;
}
/*
*************************************************************************************************
Header
*************************************************************************************************
*/

.header-image {
  height: 400px;
  width: 100%;
  background-image: url(https://dvz3vrza543jw.cloudfront.net/assets/marketing-website/header/header-home-0c794441db910b0b92438352b500e124.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  box-sizing: border-box;
  background-origin: padding-box;
}

/*
*************************************************************************************************
Typography
*************************************************************************************************
*/

.warning {
  color: red;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.checkbox {
  float: left;
  width: 51%;
}
.checkboxlabel {
  float: left;
  width: 49%;
}


.footer {
  clear: both;
  width: 90%;
  margin: 30px auto;
}

.placeholder {
  color: rgba(0,0,0,0.3);
}

.barrier {
  margin: 5px auto;
  height: 10px;
  width: 100%;
  clear: both;
}

.notes {
  width: 90%;
  margin: 30px auto;
}

.dont_include {
  display: none;
}
